@charset "UTF-8";




.logo {
    display: inline;
    float: left;
    margin-top: 3px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    list-style: none;
}
.nav-item{
    font-size: 15px;
    color: rgb(34, 0, 185);
    margin: 0 15px;
    text-decoration: none;
    transition-duration: .5s;
}
.nav-item:hover{
    color:rgba(46, 9, 212, 0.575) ;
}
.logo-menu-container{
    display: flex;
    align-items: center;
    padding-bottom: 3px;
}
.right-containe{
    display: flex;
    align-items: center;
    margin-right: 0px;
}
.menu-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle .bar{
    border-radius: 8px;
    width: 23px;
    height: 3px;
    background-color: rgb(0, 2, 104);
    margin: 3px 0;
}

@media (max-width: 768px){
    .nav-links{
        display: none;
    }

 .menu-toggle{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
} 
}
.navbar .active .nav-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(0, 0, 255, 0.411);
    width: 200px;
}

.navbar .active .menu-toggle{
     display: none;
}
.menu-span{
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: 696px;
} 
 

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    font-family: justify, sans-serif;
    font-weight: 700;
    list-style: none;  
  }
  
  .nav-item {
    
    font-size: 15px;
    color: #1C0051;
    margin: 0 15px;
    text-decoration: none;   
    transition-duration: .5s;
  }
  
  .nav-item:hover {
    color: rgba(0, 81, 255, 0.747);
    
  }
  
  .logo-menu-container {
    display: flex;
    align-items: center;
    padding-bottom: 3px;
  }
  
  .lodo-curso {
    margin-right: 20px;
  }
  
  .right-container {
    display: flex;
    align-items: center;
    margin-right: 0px;
  
  }
  
  
  .menu-toggle {
    display: none; 
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    border-radius: 8px;
    width: 23px;
    height: 3px;
    background-color: #1C0051;
    margin: 3px 0;
  }
  
 
  @media (max-width: 768px) {
    .nav-links {
     display: none; 
    }
  
   .menu-toggle {
      display: flex;
      flex-direction: column;
      margin-right: 15px;
    }
  }  
  
  
  
  .navbar.active .nav-links { 
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px; 
      right: 20px; 
      background-color: #333;
      width: 200px; 
  } 
  
  .navbar.active .menu-toggle {
      display: none;
  } 
  
  .menu-span{
    display:  inline-block;
    width: 27px;
    height: 27px;
    margin-left: 696px;
  } */