@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}
body{
    background-image: url(imgs/pexels-002.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logo-text{
    font-size: 40px;
    margin: 10px;
    color: #011526;
    margin-left: 30px;

}
.logo {
    display: inline;
    float: left;
    margin-top: 3px;
}

.navbar{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    list-style: none;
    align-items:center;
}
.nav-item{
    font-size: 15px;
    color: #011526;
    margin: 0 15px;
    text-decoration: none;
    transition-duration: .5s;
}
.nav-item:hover{
    color:#0115269a ;
}
.logo-menu-container{
    display: flex;
    align-items: center;
    padding-bottom: 3px;
}
.right-containe{
    display: flex;
    align-items: center;
    margin-right: 0px;
}
.menu-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle .bar{
    border-radius: 8px;
    width: 27px;
    height: 4px;
    background-color: #011526;
    margin: 3px 0;
}

@media (max-width: 768px){
    .nav-links{
        display: none;
    }

 .menu-toggle{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
} 
}
.navbar .active .nav-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:#011526;
    width: 200px;
}

.navbar .active .menu-toggle{
     display: none;
}
.menu-span{
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: 696px;
} 

button{
    background-color: #011526;
    color: #fff;
    margin-top: -130px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-right: 30px;
    border-radius: 8px;
    padding: 18px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition-duration: .7s;
}

button:hover{
    background-color: transparent;
    color: #011526;
    border: 1px solid #011526;
}

h1.login{
    color: rgb(#011526);
    font-size: 50px;
    text-align: center;
    margin: 10px ;
}
form{
    
    margin: 100px auto;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.342);
    box-shadow: 7px 7px 20px #00000050;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 20px;
    
}
.usuario{
   text-align: left;
   color: #011526;
}
input{
    display: block;
    margin: 10px;
    width: 95%;
    height: 30px;
    margin-top: -3px;
    border-top: none;
    border-width: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #011526;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: #011526;
}
.botao{
    display: inline;
    text-align: center;
    margin-top: 20px;
    border-radius:20px;
    padding: auto;
    height: 30px;
    color: rgb(255, 255, 255);
    border: 1px solid #011526;
    background-color: #011526;
    cursor: pointer;
    transition: all 0.7s;
}
.botao:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #011526;
    font-weight: 700;
}
img{
    margin: 0px;
    padding: 0px;
    width: 17px;
    margin-right: 3px;
    margin-top: 10px;
}
p{
    text-align: left;
    font-size: 12px;
}

@media (max-width: 475px){
    form{
        width: 80%;
        height: 360px;
    }
    h1.login{
        font-size: 30px;
        margin-top: 0px;
    }
}

