@charset "UTF-8";



body{
    background-color: rgb(220, 220, 226);
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.466);
}

tbody >tr:nth-child(2n-1){
    background-color: rgb(190, 191, 192);
}
tbody >tr:nth-child(2n){
    background-color: rgb(231, 234, 236);
}

table{
    margin: auto;
    width: 700px;
    border: 1px solid black;
    border-collapse: collapse; 
    position: relative; 
}
thead >tr>th{
    position: sticky;
    top: -1px;  
}
    @media(max-width: 720px){
       #container{
                overflow-x: auto;
            } 
        table{  
            width: 500px;
        }
    }
    @media(max-width: 510px){
        th, td{
            font-size: 14px;
        }
        table{
            width:500px;
        }
    }
th, td{
    border: 1px solid black;
    padding: 8px;
}
tr{
    background-color: aliceblue;
}
th{
    height: 30px;
    text-align:  left;
    background-color: rgb(65, 65, 65);
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}